<%= render 'layouts/header' %>

<div class="jumbotron container border-radius">
  <div class="container">
    <h1 class="grey-color">Welcome to IdeaShare!</h1>
    <p>Make an account to post an article or idea, and share it with the world.</p>
    <p><a class="btn btn-primary btn-lg btn-hover" href="/login" role="button">Log In. &raquo;</a></p>
  </div>
</div>