<%= render 'header' %>

<h1 class="text-center">Log In.</h1>
<hr>

<!-- Login form using a session and url parth -->
<div class="text-center">
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :class => 'form-control center-block', placeholder: "Enter email." %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'form-control center-block', placeholder: "Enter password.", autocomplete: "off"  %>
      </div>

      <div class="form-group">
        <!-- Checks if user is new or updating their account -->
        <%= f.submit "Log in", :class=> 'btn btn-success'%>
      </div>
  <% end %>
</div>