<%= render 'layouts/header' %>

<h1 class="text-center">About Me</h1>
<hr>

<div class="container border-control enlarge-font">
  <p>Hi, this is my about me. Hopefully you get to know me in an intellectual manner. I really enjoy coding, playing video games,
  watching tv, going on adventures, and just being spontaneous. My life has been great so far. I am extremely satisfied, and I want
  to bring hope to others. This is not about me. It is about the world, and how we can all congregate to make it a better place.
  We must look for for one another.
  </p>
  <br>
  <p>- Jason Chhagan</p>
</div>