<%= render 'users/header' %>

<h1 class="text-center">Edit the article.</h1>

<div class="text-center">
  <% if @article.errors.any? %>
      <p>Error messages</p>
      <% @article.errors.full_messages.each do |m| %>
          <li><%= m %></li>
      <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control center-block' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control center-block' %>
      </div>

      <div class="form-group">
        <%= f.label :rating %>
        <%= f.number_field :rating, :class => 'form-control center-block'  %>
      </div>

      <div class="form-group">
        <%= f.button :Submit, :class=> 'btn btn-primary' %>
      </div>
  <% end %>
</div>