<%= render 'layouts/header' %>
<h1 class="text-center">All Articles</h1>

<div class="text-center">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'layouts/articles', obj: @articles %>