<%= render 'users/header' %>

<h1 class="text-center">Create an article.</h1>

<hr>

<!-- Shows the error messages when trying to create a new article -->
<div class="text-center">
  <% if @article.errors.any? %>
      <p>Error messages</p>
      <% @article.errors.full_messages.each do |m| %>
          <li class="alert-danger alert center-block" style="width: 50%;"><%= m %></li>
      <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control center-block' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control center-block', :placeholder => "Fill out description." %>
      </div>

      <div class="form-group">
        <%= f.label :rating %>
        <%= f.number_field :rating, :class => 'form-control center-block'  %>
      </div>

      <!-- Checkbox for the categories -->
      <div class="form-group">
        <div class="row">
          <h3 style="color:lightgray">Categories</h3>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.button :Submit, :class=> 'btn btn-primary' %>
      </div>
  <% end %>
</div>

