<% if !logged_in? %>
  <%= render 'layouts/header' %>
<% end %>

<% if logged_in? %>
    <%= render 'users/header' %>
  <% if @article.user %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        <div class="article-title text-center">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </div>
      </div>
    </div>
  <% end%>
<% end%>
<h1 class="text-center text-capitalize"><%= @article.title %></h1>
<hr>
<div class="container border-control">
<p class="enlarge-font"><%= @article.description %></p>
</div>
<br>
<% if @article.categories.any? %>
  <p class="text-center" style="color: lightgray;">Categories: <%= render @article.categories %></p>
<% end %>

