<div class="text-center">
  <% if @user.errors.any? %>
      <p>Error messages</p>
      <% @user.errors.full_messages.each do |m| %>
          <li><%= m %></li>
      <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, :class => 'form-control center-block', :placeholder => "Enter username." %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => 'form-control center-block', :placeholder => "Enter email." %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'form-control center-block', :placeholder => "Enter password."  %>
      </div>

      <div class="form-group">
        <!-- Checks if user is new or updating their account -->
        <%= f.submit @user.new_record? ? "Sign up" : "Update account", :class=> 'btn btn-success'%>
      </div>
  <% end %>
</div>