<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to "Home", user_path(current_user), class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to "Create New Article", new_article_path%></li>
          <li><%= link_to "View All Articles", articles_path%></li>
          <li><%= link_to "View All Categories", categories_path%></li>
          <li><%= link_to "View Users", users_path%></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if logged_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Actions <%= "Admin" if current_user.admin? %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit profile", edit_user_path(current_user), class: "btn" %></li>
                  <% if logged_in? and current_user.admin? %>
                      <li><%= link_to "Create Category", new_category_path, class: "btn btn-success" %></li>
                <% end %>
                  <li><%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger"%></li>
                </ul>
              </li>
            </ul>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Shows messages -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg| %>
        <div class='alert alert-<%="#{name}" %>'>
          <a href="#" class="close" data-dismiss="alert">×</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
    <% end %>
  </div>
</div>