<%= render 'header' %>

<h1 class="text-center">All Bloggers</h1>

<hr>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<% @users.each do |user| %>
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <%= link_to gravatar_for(user), user_path(user) %>
          <div class="article-title text-center">
            <%= link_to user.username, user_path(user) %>
          </div>
          <p class="text-center"><%= pluralize(user.articles.count, "article") if user.articles %></p>
          <% if logged_in? && current_user.admin? %>
            <div class="text-center"><%= link_to "Delete this user", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user and all articles?"}, class: "btn btn-danger" %></div>
          <% end %>
        </div>
      </div>
<% end %>