<%= render 'header' %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 80%>
  </div>
</div>

<h3 class="text-center" style="color: lightgray !important;"><%= @user.username %>'s articles.</h3>

<div class="text-center">
  <%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'layouts/articles', obj: @user_articles %>