%nav.navbar.navbar-inverse{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand Jason's Blog
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "/"} Home
      %li.active
        %a{href: "/about"} About
    %form.navbar-form.navbar-right{role: "search"}
      .form-group
        %input.form-control{placeholder: "Search", type: "text"}/
      %button.btn.btn-success{type: "submit"} Submit

%h1.container.text-center= "About Page"

-# =link_to "Home", root_path #goes to the root page