/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min.css
 */

/*html {
    margin: 0px;
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 75px;
    background-color: #196076;
}

h1 {
    color: lightgray !important;
}

label {
    font-size: 18px;
    color: lightgray !important;
}

.color-change {
    color: #204d74;
}

.grey-color {
    color: darkslategrey !important;
}

.btn-hover:hover {
    background-color: lightskyblue;
}

.border-radius {
    border-radius: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
}

.badge {
    font-size: 16px;
    letter-spacing: -1px;
    text-transform: uppercase;
    background-color: lavenderblush;
}

.input_checkbox input {
    width: auto !important;
}
