// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.form-control {
  width: 30% !important;
}

#article_description {
  height: 150px;
}

.article-title {
  font-size: 1.5em;
}

.border-control {
  border: 3px black solid;
  border-radius: 10px;
  background-color: lightblue;
}

.enlarge-font {
  color: darkslategrey;
  font-size: 2em;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}
