<div class="text-center">
  <% if @category.errors.any? %>
      <p>Error messages</p>
      <% @category.errors.full_messages.each do |m| %>
          <li><%= m %></li>
      <% end %>
  <% end %>
</div>

<div class="text-center">
  <%= form_for @category do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control center-block', :placeholder => "Enter category name." %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", :class=> 'btn btn-success'%>
      </div>
  <% end %>
</div>