<%= render 'users/header' %>

<h1 class="text-center">All Categories</h1>
<hr>


<div class="text-center">
<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>

<% @categories.each do |category| %>
    <div class="row">
      <div class="well col-md-4 col-md-offset-4 text-center">
          <%= link_to "#{category.name}", category_path(category) %>
        <hr>
        <p class="text-center"><%= pluralize(category.articles.count, "article") %></p>
      </div>
    </div>

<% end %>