<%= render 'users/header' %>

<h1 class="text-center">Category: <%= @category.name %></h1>
<br>
<% if logged_in? and current_user.admin? %>
  <div class="text-center">
    <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-warning" %>
  </div>
<% end %>
<hr>


<div class="text-center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'layouts/articles', obj: @category_articles %>