<!-- shows all articles -->
<% obj.each do |article| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 well well-sm">

        <%= link_to article.title, article_path(article), :class => "article-title" %>

        <hr>

        <div class="article-desc">
          <%= truncate(article.description, length: 100) %>
          <div class="article-meta-details">
            <small>Created by: <%= article.user.username %> at <%= article.user.created_at.localtime %>

            </small>
          </div>
        </div>

        <hr>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <%= link_to "Edit", edit_article_path(article), :class => "btn btn-success" %>
        <!-- Lets rails know that this is specifically for a delete, and the confirm is an alert box. -->
        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger" %>
        <% end%>
        <hr>
        <% if article.categories.any? %>
            <p class="text-center">Categories: <%= render article.categories %></p>
        <% end %>
      </div>
    </div>
<% end %>