<!DOCTYPE html>
<html>
<head>
  <title>Blogproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<footer class="footer">
  <div class="container">
    <hr>
    <p class="text-center" style="color:white;">Made by: Jason C</p>
  </div>
</footer>

<!-- Show debug in html only if environment is development -->
</body>
</html>
